.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  grid-gap: 48px;
  // max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}
